.header
    background-color: #F9F9F9
    padding: 20px 60px 20px 60px
    box-shadow: 0 1px 4px #a7a7a7
    &__search-label
        display: flex
        align-items: center
        width: 60%
    &__search-bar
        color: #131313
        border: none
        border-radius: 20px
        background-color: rgba(165, 85, 236, 0.25)
        height: 35px
        margin-left: 20px
        padding: 10px 15px
        font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
        font-size: 0.9rem   
        width: 100%
        &:focus
            outline: none
            outline: 2px solid #A555EC

.header__container
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 1.4rem
    gap: 30px

.profile
    font-size: 1.4rem
    display: flex
    align-items: center
    justify-content: space-between
    gap: 30px
    &__picture
        background: url("../images/pfp.jpg")
        width: 50px
        height: 50px
        border-radius: 50%
    &__user-name
        font-weight: 600
        font-size: 1.2re


.header__container_bottom
    margin-top: 30px        
.big-profile
    display: flex
    align-items: center
    justify-content: space-between
    gap: 10px
    &__text
        white-space: nowrap
        font-weight: 600
    &__greeting
        width: 100%
        font-size: 0.9rem
    &__user-name
        margin-top: 10px
    &__picture
        width: 65px
        height: 65px
        border-radius: 50%
        background: url("../images/pfp.jpg")
        background-size: cover

    
