* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.page {
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 185px 3fr;
  grid-template-columns: 1fr 3fr 1fr;
}

.navigation {
  grid-area: 1/1/-1/2;
}

.header {
  grid-area: 1/2/2/-1;
}

.main {
  grid-area: 2/2/-1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px repeat(auto-fit, 210px);
  gap: 20px;
  min-width: 680px;
}

.notifications {
  grid-area: 2/3/-1/-1;
}

.h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.navigation {
  background-color: #A555EC;
  color: white;
  padding: 25px;
}
.navigation__logo-container {
  display: flex;
  align-items: center;
}
.navigation__logo {
  width: 40px;
}
.navigation__title {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 20px;
}

.main-nav {
  padding: 5px;
  margin-top: 30px;
}
.main-nav__item {
  margin-top: 20px;
  font-size: 1.4rem;
}
.main-nav__link {
  color: #F9F9F9;
  text-decoration: none;
}
.main-nav__link:hover {
  color: #ffffff;
}
.main-nav__item:nth-child(7) {
  margin-top: 50px;
}
.main-nav i {
  display: inline-flex;
  justify-content: center;
  width: 20px;
  margin-right: 25px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  gap: 30px;
}

.header {
  background-color: #F9F9F9;
  padding: 20px 60px 20px 60px;
  box-shadow: 0 1px 4px #a7a7a7;
}
.header__search-label {
  display: flex;
  align-items: center;
  width: 60%;
}
.header__search-bar {
  color: #131313;
  border: none;
  border-radius: 20px;
  background-color: rgba(165, 85, 236, 0.25);
  height: 35px;
  margin-left: 20px;
  padding: 10px 15px;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  width: 100%;
}
.header__search-bar:focus {
  outline: none;
  outline: 2px solid #A555EC;
}

.profile {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.profile__picture {
  background: url("../images/pfp.jpg");
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile__user-name {
  font-weight: 600;
  font-size: 1.2re;
}

.header__container_bottom {
  margin-top: 30px;
}

.header__controls {
  display: flex;
  gap: 30px;
}
.header__button {
  width: 110px;
  height: 40px;
  border: 3px solid #A555EC;
  border-radius: 30px;
  background-color: #A555EC;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.05rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s;
}
.header__button:hover {
  background-color: #F9F9F9;
  color: #A555EC;
}

.big-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.big-profile__text {
  white-space: nowrap;
  font-weight: 600;
}
.big-profile__greeting {
  width: 100%;
  font-size: 0.9rem;
}
.big-profile__user-name {
  margin-top: 10px;
}
.big-profile__picture {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: url("../images/pfp.jpg");
  background-size: cover;
}

.main {
  background-color: rgba(165, 85, 236, 0.25);
  padding: 20px 20px 40px 20px;
}
.main__title {
  grid-area: 1/1/2/3;
  margin-top: 10px;
}

.card {
  height: 210px;
  background-color: #F9F9F9;
  border-radius: 10px;
  border-left: 11px solid #FFBF00;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__title {
  padding-left: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}
.card__text {
  color: #383838;
  margin-top: 10px;
  padding: 5px;
  font-size: 0.9rem;
  line-height: 1.1rem;
  height: 80%;
  overflow: auto;
  scrollbar-color: grey transparent;
  scrollbar-width: thin;
}
.card__text::-webkit-scrollbar {
  width: 10px;
}
.card__text::-webkit-scrollbar-track {
  background-color: transparet;
  border-radius: 5px;
}
.card__text::-webkit-scrollbar-thumb {
  background-color: grey;
  background-image: none;
  border-radius: 5px;
}
.card__controls {
  margin-top: 10px;
  margin-right: 20px;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  width: 130px;
  align-self: flex-end;
}
.card__controls i {
  cursor: pointer;
  transition: 0.1s;
}
.card__controls i:hover {
  color: #FFBF00;
}

.notifications {
  background-color: rgba(165, 85, 236, 0.25);
  padding: 20px 20px 40px 5px;
}
.notifications__title {
  margin-top: 10px;
}
.notifications__card {
  margin-top: 18px;
  background-color: #F9F9F9;
  border-radius: 10px;
  padding: 30px;
}
.notifications__trending-title {
  margin-top: 30px;
}

.announcements__item {
  margin-top: 15px;
}
.announcements__item::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(165, 85, 236, 0.25);
  margin-top: 15px;
}
.announcements__item:first-child {
  margin-top: 0;
}
.announcements__item:last-child::after {
  content: "";
  display: none;
}
.announcements__title {
  font-weight: 600;
  font-size: 1rem;
}
.announcements__text {
  font-size: 0.8rem;
  color: #383838;
  margin-top: 5px;
}

.trending {
  padding: 30px 20px;
}

.small-profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.small-profile:first-child {
  margin-top: 0;
}
.small-profile__pfp {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.small-profile__tag {
  font-weight: 600;
}
.small-profile__status {
  font-size: 0.85rem;
  margin-top: 10px;
  color: #383838;
}/*# sourceMappingURL=style.css.map */